html {
    background-color: #ffefc9;
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
}

#page {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;
}

.hint {
    font-style: italic;
    opacity: 60%;
}

.hint-note {
    text-decoration: underline;
}

.add-book {
    font-size: 1em;
    font-family: 'Abril Fatface', cursive;
    width: 45%;
    padding: 10px 15px;
    background-color: #eee;
    border: 1px solid #fff;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 1em;
    transition: background-color 0.2s;
}

.add-book span {
    transition: 0.5s;
    position: relative;
}

.add-book span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.add-book:hover {
    background-color: #ccc;
}

.add-book:hover span {
    padding-right: 25px;
}

.add-book:hover span:after {
    opacity: 1;
    right: 0;
}

#library {
    text-align: left;
}

#library li {
    list-style-type: none;
    border: 1px dotted #ccc;
    padding: 10px 15px;
    position: relative;
}

.delete {
    padding: 12px;
    border: 1px solid #fff;
    font-size: 0.8em;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color, border-color, color 0.2s;
}

.delete:hover {
    background-color: #ccc;
    border-color: #e02424;
}