.modal {
    color: #000;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .6);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 5% auto;
    padding: 1em;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2), 0 7px 20px 0 rgba(0, 0, 0, .17) ;
    animation-name: modalOpen;
    animation-duration: 1s;
}

.modal-close-btn {
    color: #ccc;
    float: right;
    font-size: 1.5em;
    transition: color;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content input {
    display: block;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 10px 0;
    width: 100%;
} 

.modal-content input::placeholder {
    font-size: 1.2em;
}

.modal-content input[type=submit] {
    width: 100%;
}

#error-message {
    color: #e02424;
}

@keyframes modalOpen {
    from {opacity: 0}
    to {opacity: 1}
}